html {
  font-family: 'helvetica neue'
}
body {
  background-image: url("bgg.jpg");
  background-size: cover;
  background-position: top;
  color: white;
  overflow: hidden;
}
h1 {
  color: white;
  margin: 0 auto;
  padding-left: 20px;
  text-decoration: underline;
}
.container {
  min-width: 500px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  padding: 10px;
  height: 100%;
  display: inline-block;
  margin: 10px;
}

.box{
  width:20px;
  height:20px;
  background-color: slategrey;
  border: 1px solid dimgrey;
  float:left;
  margin: 1px;
  border-radius: 3px;
}

.breaker{
  clear: both;
}

.right {
  /*background-color: silver;*/
  border-radius: 20px;
  padding: 0px 20px;
  height: 408.18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.wrapped {
  border: 1px dotted;
  border-radius: 20px;
  padding: 10px;
  border-color: ghostwhite;
  text-align: center;

}
